@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-ktz-blue: #0054a6;
  --color-ktz-gray: #f4f4f4;
}

@layer base {
  body {
    @apply bg-ktz-gray text-slate-900 font-sans;
  }
}

